[user]
  name = Luke Zappia
  email = EMAIL

[core]

[apply]

[alias]

[branch "master"]

[color]

[color "branch"]

[color "diff"]

[color "status"]

[help]
  autocorrect = 20

[merge]
  log = true

[push]

[rerere]
  enabled = 1

[url "https://"]
  insteadOf = "git://"
