[user]
  name = Luke Zappia
  email = lazappi@users.noreply.github.com

[core]
  autocrlf = input
  compression = 9
  excludesfile = ~/.gitignore_global
  filemode = false
  editor = vim
  whitespace = fix,blank-at-eol,space-before-tab,blank-at-eof,cr-at-eol,tab-in-indent

[apply]
  whitespace = fix

[alias]
  # Complex aliases from http://michaelwales.com/articles/make-gitconfig-work-for-you/

  # Show all aliases
  aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
  # Amend commit
  amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
  # Unstage changes
  unstage = reset HEAD --
  # Pretty log with tree
  graph = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[branch "master"]

[color]
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = blue reverse

[color "status"]
  added = yellow
  changed = green
  untracked = red

[diff]
  tool = vimdiff

[difftool]

[help]
  autocorrect = 20

[push]
  default = simple

[merge]
  log = true
  ff = false
  tool = vimdiff

[pull]

[rerere]
  enabled = 1

[url "https://"]
  insteadOf = "git://"
